@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{font-family: 'Montserrat', sans-serif;}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: left;
  display: flex;
  align-items: left;
  justify-content: space-between;
  background-color: rgba(213, 140, 252, 0.8); /* utilizar rgba() para ajustar la opacidad */
  width: 100%;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.196);
}

.header .header-buttons {
  display: inline-block; /* usar display: inline-block en lugar de float: left */
  width: 33.3%; /* ajustar el ancho del contenedor para asegurarte de que haya suficiente espacio para los botones */
  text-align: center; /* centrar el contenido de los botones */
}

.header .header-buttons input {
  color: black;
  font-size: 16px; /* aumentar el tamaño de la fuente del botón */
  width: 120px; /* aumentar el ancho del botón */
  height: 40px; /* aumentar la altura del botón */
  border: none;
  border-radius: 5px;
  margin-top: -50px;
  z-index: 1;
  margin-right: 10px; /* agregar un margen derecho para separar los botones */
  background-color: #9a2edb; /* establecer el mismo valor de background-color que el encabezado */
  transition: ease 0.2s;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.196);
  border: solid 2px rgba(255, 255, 255, 0.345);

}

.header .header-buttons:last-child input {
  margin-right: 0; /* no agregar margen derecho al último botón */
  
}
.header .header-buttons input:hover {
  background-color: rgba(255, 255, 255, 1); /* cambiar el color de fondo del botón al pasar el mouse sobre él */
  color: rgba(213, 140, 252, 0.8); /* cambiar el color del texto del botón al pasar el mouse sobre él */
  cursor: pointer; /* cambiar el cursor a pointer */

}

.consulta {
  margin-right: 10px; /* agregar un margen derecho para separar los botones */
}

.eliminar {
  margin-right: 10px; /* agregar un margen derecho para separar los botones */
}

.actualizar {
  margin-right: 0; /* no agregar margen derecho al último botón */
}
.header img {
width: 50px;
height: 50px;
float: left;
margin-left: 10px;
margin-right: -175px;
}
input {
  padding: 10px;
  width: 100%;
}
body {
  background-color: #e5b3fe;
  background-image: url(https://i.imgur.com/GSNLZoi.png);
  background-size: cover;
  background-repeat: no-repeat;

}
form {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
}
.header .text {
position: absolute;
right: 0;
top: 0;
bottom: 0;
padding: 10px;
margin-top: 10px;
color: white;
}
.btn-enviar {
  background-color: rgba(213, 140, 252, 0.8);
  align-items: center;
  width: 105%;
}

 h2{
  margin-top: 20px;
  font-weight: bold;
}

input[name="nombre"] {
  width: 45%;
}

input[name="apellido"] {
  width: 45%;
}
input[name="telefono"] {
  width: 45%;
}
input[name="correo"] {
  width: 45%;
}
input[name="fecha_cons"] {
  width: 45%;
}
input[name="motivo_cons"] {
  width: 45%;
}
input[name="antece_per"] {
  width: 45%;
}
input[name="antece_fam"] {
  width: 45%;
}
input[name="num_hijos"] {
  width: 25%;
}
input[name="tratam_prop"] {
  width: 65%;
}
input[name="fecha_proc"] {
  width: 30%;
}
input[name="fecha_prox"] {
  width: 30%;
}
input[name="fecha_alta"] {
  width: 30%;
}
.mainForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 500px;
    padding: 20px;
  
}