@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{font-family: 'Montserrat', sans-serif;}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: left;
  display: flex;
  align-items: left;
  justify-content: space-between;
  background-color: rgba(213, 140, 252, 0.8); /* utilizar rgba() para ajustar la opacidad */
  width: 100%;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.196);
}
.header .header-buttons {
  display: inline-block;
  width: 33.3%;
  text-align: center;
}

.header .header-buttons input {
  color: white;
  font-size: 16px; /* aumentar el tamaño de la fuente del botón */
  width: 120px; /* aumentar el ancho del botón */
  height: 40px; /* aumentar la altura del botón */
  border: none;
  border-radius: 5px;
  margin-top: -30px;
  z-index: 1;
  margin-right: 10px; /* agregar un margen derecho para separar los botones */
  background-color: #9a2edb; /* establecer el mismo valor de background-color que el encabezado */
  transition: ease 0.2s;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.196);
  border: solid 2px rgba(255, 255, 255, 0.345);

}

.header .header-buttons:last-child input {
  margin-right: 0; /* no agregar margen derecho al último botón */
}
.header .header-buttons input:hover {
  background-color: rgba(255, 255, 255, 1); /* cambiar el color de fondo del botón al pasar el mouse sobre él */
  color: rgba(213, 140, 252, 0.8); /* cambiar el color del texto del botón al pasar el mouse sobre él */
  cursor: pointer; /* cambiar el cursor a pointer */
}
.registro {
  margin-right: 10px; /* agregar un margen derecho para separar los botones */
}

.eliminar {
  margin-right: 10px; /* agregar un margen derecho para separar los botones */
}

.actualizar {
  margin-right: 0; /* no agregar margen derecho al último botón */
}
.header img {
width: 50px;
height: 50px;
float: left;
margin-left: 10px;
margin-right: -175px;
margin-top: 5px;
}
input {
  padding: 10px;
  margin: 5px;
  width: 100%;
}
body {
  background-color: #e5b3fe;
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
form {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}
.btn {
  width: 50%;
}
input[name="ID"]{
  width: 50%;
}
input[name="id"]{
  width: 50%;
}
.header .text {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  margin-top: 10px;
  }
table {
border-collapse: collapse;
width: 0% auto;
margin: 0 auto;
background-color: rgba(229, 179, 254, 0.5);
}

th, td {
border: 1px solid black;
padding: 5px;
width: 40%;
}
th {
background-color: #dddddd;
}
h2{
  margin-top: 20px;
  font-weight: bold;
}

input[name="nombre"] {
  width: 25%;
}

input[name="apellido"] {
  width: 25%;
  margin-left: -5px;
}
input[name="dni"] {
  width:50%;
}
input[name="tlf"] {
  width: 25%;
}
input[name="correo"] {
  width: 25%;
  margin-left: -5px;
}
input[name="fecha"] {
  width: 50%;
}
input[name="motiv"] {
  width: 25%;
}
input[name="direccion"] {
  width: 25%;
  margin-left: -5px;
}
input[name="anteceper"] {
  width: 25%;
}
input[name="antecefam"] {
  width: 25%;
  margin-left: -5px;
}
input[name="nrohijos"] {
  width: 10%;
}
input[name="trataprop"] {
  width: 40%;
  margin-left: -5px;
}
input[name="fechaproc"] {
  width: 25%;
}
input[name="fechaprox"] {
  width: 25%;
  margin-left: -5px;
}
input[name="alta"] {
  width: 25%;
}
input[name="obser"]{
  width: 25%;
  margin-left: -5px;
}
.searchform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    margin-left: 10px;
}
input[name="busqueda"] {
  width: 50%;
}
#tabla-datos {
  width: 25%;
  margin: 0 auto;
  max-width: 0%;
}
.btn-busqueda {
  width: 25%;
}
.btn-busqueda input:hover {
  background-color: rgba(255, 255, 255, 1); /* cambiar el color de fondo del botón al pasar el mouse sobre él */
  color: rgba(213, 140, 252, 0.8); /* cambiar el color del texto del botón al pasar el mouse sobre él */
  cursor: pointer; /* cambiar el cursor a pointer */
}